[Default]
# Path to Ida Pro utility pcf.exe
PcfPath = C:\RIFT\binaries\pcf.exe 
# Path to Ida Pro utility sigmake.exe
SigmakePath =C:\RIFT\binaries\sigmake.exe
# Path to work folder, where generated files will be temporarily stored in
WorkFolder = C:\RIFT\work
# Path to folder, where cargo projects will be initialized
CargoProjFolder =C:\RIFT\tmp
# Path to generated rustc_hashes.json
RustcHashes = C:\RIFT\data\rustc_hashes.json
# Path to strings.exe, on Windows preferably from the SysInternalsSuite by Mark Russinovich
StringsTool = C:\RIFT\binaries\strings.exe

[RiftServer]
# local or remote
server_mode = local
Ip = 127.0.0.1
Port = 5001
flirt_dir = C:\RIFT\ServerStorage
ApiKey =
TlsCert =
TlsKey =