[Default]
# Path to Ida Pro utility pcf.exe
PcfPath = C:\RIFT\bin\pcf.exe 
# Path to Ida Pro utility sigmake.exe
SigmakePath =C:\RIFT\bin\sigmake.exe
# Path to work folder, where generated files will be temporarily stored in
WorkFolder = C:\RIFT\bin\work
# Path to folder, where cargo projects will be initialized
CargoProjFolder =C:\RIFT\bin\tmp
# Path to generated rustc_hashes.json
RustcHashes = C:\RIFT\data\rustc_hashes.json
# Path to strings.exe, on Windows preferably from the SysInternalsSuite by Mark Russinovich
StringsTool = C:\RIFT\bin\strings.exe

[RiftServer]
Ip = 127.0.0.1
Port = 5001